VITE_SUPABASE_URL=https://woepddzxmpnxtbiwwrvu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvZXBkZHp4bXBueHRiaXd3cnZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4OTU5NTgsImV4cCI6MjEwNTQ3MTk1OH0.dq_qj67Tbj9uKbAhxqsXT04PdeZWhL8eVvIdGdKkNik
VITE_GEMINI_API_KEY=
